################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out
/vc140.pdb
/std.ifc
/std.ixx.obj
/std.ixx.obj.ddi
/std.ixx.obj.modmap
